*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  background-color: rgb(13, 149, 22);

  background-image: url(/the-hunch-mobile.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.hero-image {
  background-image: none;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-bar {
  background-color: black;
  height: 70px;
}

.logo {
  width: auto;
  height: 30px;
  position: relative;
  top: 20px;
  left: 15px;
}

.button-group {
  text-align: right;
}

.button {
  text-decoration: none;
  background-color: #0d9541;
  border: #272727;
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 10px;
  text-align: center;
  transition: all 200ms;
  margin: 15px 5px 0;
}

.button.sign-up {
  background-color: white;
  color: #0d9541;
}

nav {
  padding: 0 5px;
  background-color: #272727;
  text-align: center;
  width: 100%;
}

.nav-menu-list {
  display: flex;
  color: white;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.nav-item {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 4px solid transparent;
  border-width: 200%;
}

.nav-item:hover {
  color: white;
}

.nav-item.green {
  border-bottom: 4px solid #05ff1a;
}

.nav-item.red {
  border-bottom: 4px solid red;
}

.nav-item.blue {
  border-bottom: 4px solid rgb(0, 221, 255);
}

.nav-item.purple {
  border-bottom: 4px solid rgb(162, 0, 255);
}

.nav-item.orange {
  border-bottom: 4px solid rgb(255, 145, 0);
}

.background-green {
  background-color: #00c811;
}

.background-red {
  background-color: red;
}

.background-blue {
  background-color: rgb(0, 175, 202);
}

.background-purple {
  background-color: rgb(162, 0, 255);
}

.background-orange {
  background-color: rgb(255, 145, 0);
}

#content {
  flex: 1;
}

#footer {
  background-color: rgba(0, 0, 0, 0.681);
  height: 170px;
  width: auto;
  color: white;
  text-align: center;
  padding: 20px 20px 0;
}

.footer-section h3 {
  font-weight: 300;
  font-size: 1.125rem;
}

.footer-section h2 {
  font-weight: 600;
}

.button.join-now {
  font-size: 1.25rem;
  margin: 5px;
  width: 50%;
}

.join-now-side {
  width: 80%;
  height: 280px;
  background-color: rgba(0, 0, 0, 0.681);
  color: white;
  padding: 70px 30px;
  text-align: center;
}

.join-now-side h3 {
  font-weight: 300;
  font-size: 1.25rem;
}

.join-now-side h2 {
  font-weight: 600;
  padding-bottom: 1.05rem;
}

/* ------ FORMS --------- */

.login-form {
  background-color: white;
  width: 100%;
  padding: 1.5rem;
  padding-bottom: 3rem;
}

.celebration-banner {
  color: white;
  width: 100%;
  padding: 1.5rem;
  padding-bottom: 3rem;
}

.login-intro {
  margin: 1rem 2rem;
  text-align: center;
}

form h4 {
  font-size: 1rem;
  font-weight: 600;
}

form a {
  color: #0d9541;
  font-weight: 500;
}

.close-icon {
  width: 50px;
  position: absolute;
  left: 90%;
  bottom: 13px;
  color: rgb(80, 80, 80);
}

.login-label {
  text-align: left;
  margin-bottom: 0.15rem;
  color: rgb(78, 78, 78);
}

.input-box {
  padding: 5px;
  width: 100%;
  margin-bottom: 0.75rem;
  border: 2px solid rgba(152, 152, 152, 0.535);
  border-radius: 4px;
}

.button.login {
  text-align: center;
  position: relative;
  padding: 5px 20px;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.success-message {
  color: #00c65c;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.15rem;
  font-weight: 500;
}

.error-message {
  color: red;
}

.forgot-details {
  text-align: center;
  margin-top: 0.75rem;
  font-size: 0.85rem;
}
/* UTILS */
.center-in-parent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.confetti {
  z-index: 999;
}

/* -------- MEDIA --------- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .nav-item {
    padding: 7px;
  }

  .button {
    font-weight: 600;
    padding: 6px 20px;
    margin: 15px 10px 0;
    font-size: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-item {
    padding: 14px 28px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero-image {
    background-image: url(/the-hunch-mobile.png);
    /* z-index: -1; */
  }

  body {
    background-image: none;
  }

  #footer {
    display: none;
  }

  .login-form {
    width: 90%;
  }

  .celebration-banner {
    width: 90%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .join-now-side {
    height: 280px;
    padding: 50px 30px;
  }

  .join-now-side h3 {
    font-size: 1.25rem;
  }

  .join-now-side h2 {
    font-size: 2rem;
  }

  .button.join-now {
    font-size: 1.25rem;
    margin: 20px;
    padding: 15px;
    width: 60%;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .join-now-side {
    width: 80%;
    height: 350px;
    padding: 70px 30px;
  }
}
